@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  position: relative;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 6px;
}

/* .swiper {
  width: 100%;
  background: #000;
} */

/* .swiper-slide {
  width: 100%;
  height: 250px;
  text-align: center;
  background: red;

  Center slide text vertically
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper-button-next {
  right: 30px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #FFFBF6;
  background-image: url('../assets/swipeNext.svg');
  background-repeat: no-repeat;
  background-position: 57% 55%;
  background-size: 35% auto;
}

.swiper-button-prev {
  left: 30px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #FFFBF6;
  background-image: url('../assets/swipePrev.svg');
  background-repeat: no-repeat;
  background-position: 42% 55%;
  background-size: 35% auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */


/* .swiper-button-next {
  background-image: url(./next.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
} */


/* .swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
} */